# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# ビルド成果物
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Instruments
*.trace

# CocoaPods（使用する場合）
Pods/
